name: envdemo


on:
  workflow_dispatch:


jobs:
  deploy:
    name: Deploy
    environment: PROD
    runs-on: ubuntu-latest
    steps:    
      - name: Deployment 
        run: echo Completed deployment.
